<!-- <p>user-list works!</p> -->
<!-- <pre>{{users | json}}</pre> -->

<button class="btn btn-success btn-sm" (click)="getUsersData()">Users</button>
<div *ngIf="errormessage">
    {{errormessage}}
</div>
<table class="table table-striped" *ngIf="users.length > 0 && !errormessage">
    <thead>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>username</th>
        <th>email</th>
        <th>address</th>
        <th>phone</th>
        <th>website</th>
        <th>company</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.address.street}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.website}}</td>
        <td>{{user.company.name}}</td>
      </tr>
      
    </tbody>
  </table>